.page {
	&-wrapper { // Прижимание футера
		
		  min-height: 100%;
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-orient: vertical;
		  -webkit-box-direction: normal;
		  -webkit-flex-direction: column;
		      -ms-flex-direction: column;
		          flex-direction: column;
		  z-index: 50;
		  -webkit-transition: -webkit-transform 0.5s ease;
		  transition: -webkit-transform 0.5s ease;
		  transition: transform 0.5s ease;
		  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
		  overflow-x: hidden;
	}

	&Wrap {
		height: auto !important;
	    overflow-x: hidden;
	    min-height: 100%;
	}

}

.frame {
    position: relative;
    height: 100vh;
    background: #fff;
}

.container {
  width: 100%;
  max-width: $pageWidth + $gutter;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  margin: 0 auto;
  box-sizing: border-box;

  @include media(550) {
  	padding-left: 5px;
  	padding-right: 5px;
  }
}

.block-3_4 {
	width: 75%;
}

.block-1_4 {
	width: 25%;
}

.block-1_2 {
	width: 50%;
}


	
