.title {
	font-family: "supermolot-bi";
    font-size: 47px;
    line-height: 49px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;

    @include hmedia(700) {
	    font-size: 42px;
    	line-height: 42px;
    }

    @include media(1024) {
	    font-size: 32px;
	    line-height: 32px;
	    padding-right: 25%;
    }
}

.txt {
	font-family: $ubuntu;
	font-weight: 300;
	font-size: 13px;
	line-height: 22px;
	color: white;
	margin: 0 0 20px 0;
	 @include hmedia(700) {
	    margin: 0 0 10px 0;
    }
}

.heading {
	font-family: $supermolot-b;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 1px;
	margin-top: 0;
}

.heading1 {
	@extend .heading;
	font-family: $supermolot;
	font-size: 19px;
	color: white;
	text-transform: initial;
	margin-bottom: 15px;
	letter-spacing: 1px;
	margin-top: 0;
}

.label-price {
	font-family: $supermolot-bi;
	font-size: 21px;
	color: white;
}

.dropDown-link,
.dropDown-item {
  font-family: $supermolot-li;
  font-size: 15px;
  color: white;
}


// -------------------- old

.page-title {
	font-weight: 500;
	font-size: 65px;
	text-align: center;
	color: white;

	@include hmedia(768) {
		font-size: 55px;
	}

	@include media(1385) {
		font-size: 55px;
	}

	@include media(1024) {
		font-size: 50px;
	}

	@include media(767) {
		font-size: 40px;
		padding: 0 20px;
	}
	@include media(550) {
		font-size: 36px;
		
	}
}

.block-title {
  font-family: $ubuntu;
  font-size: 27px;
  color: #111111;
  font-weight: 500;
  text-align: center;
  line-height: 1em;
  position: relative;

  @include media(767) {
  	font-size: 22px;
  }
  @include media(550) {
  	padding-left: 20px;
  	padding-right: 20px;
  }

  span {
  	position: relative;

  	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 15px;
		height: 6px;
		top: 50%;
		margin-top: 2px;
		transform: translatey(-50%);
		background: url(../images/taxi.png) center center no-repeat;
	}

	&:before {
		left: -40px;
	}

	&:after {
		right: -40px;
	}

	@include media(550) {
		&:before,
		&:after {
			display: none;
		}
	}
  }

  
}

.divider {
	font-family: $ubuntu;
	font-size: 13px;
	color: #666;
	font-weight: 300;
	margin-left: 1.5em;
	margin-right: 1em;
}

