
$pageWidth: 1148px;
$pageMd: 970px;
$pageSm: 750px;

$gutter: 30px;
//$gutterMd: 20px;


$RobotoReg: Roboto-Reg, sans-serif;
$RobotoLight: Roboto-Light, sans-serif;
$RobotoBold: Roboto-Bold, sans-serif;
$RobotoMedium: Roboto-Medium, sans-serif;


$txtCol: #212121;
$blockBg: #ebebeb;
$navBg: #ebebe8;
$aCol: #ff303c;
